DATABASE_URL="mysql://root:@127.0.0.1:3306/thagenciatechprovider"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT="3306"
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="thagenciatechprovider"
DATABASE_CONNECTION_LIMIT="5"
HOST="127.0.0.1"
PORT="3001"
APP_ORIGIN="https://localhost:3000"
DEV_ALLOWED_ORIGINS=""
SESSION_TTL_DAYS="7"
WEBHOOK_WORKER_POLL_MS="1000"
WEBHOOK_DELIVERY_TIMEOUT_MS="10000"
WEBHOOK_DELIVERY_MAX_ATTEMPTS="5"
API_RATE_LIMIT_PER_MINUTE="60"
META_MESSAGE_TIMEOUT_MS="15000"
CREDENTIALS_ENCRYPTION_KEY=""

META_GRAPH_API_VERSION="v26.0"
META_GRAPH_API_BASE_URL="https://graph.facebook.com"
META_APP_ID=""
META_APP_SECRET=""
META_CONFIG_ID=""
META_WEBHOOK_VERIFY_TOKEN=""

PHONE_NUMBER_ID=""
WABA_ID=""
ACCESS_TOKEN=""
